body > div {
    /* height: 100px; redundant*/
    margin: 5px 0px;
    border: 2px dashed black;
    display: flex;
}

div > div{
    flex:1; /* icm display: flex;   Ipv voordien width: 33%; float: left; */
    height: 100px;
    margin-right: 5px;
}

div div:nth-child(1) {
    background-color: black;
}

div div:nth-child(2) {
    background-color: yellow;
}

div div:nth-child(3) {
    background-color: red;
    margin-right: 0px; /* Also possible in separate: div div:last-child {}*/
}